*{
    margin: 0;
    padding: 0;
}

body{
   
    margin: 0px;
    padding: 0px;
   overflow-y: hidden;
}
.container{
    background-image:radial-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)) ,url(0_tnt3UwJ6JqkpCE-D.jpg);
    width: 100%;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
   
}
.navor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:150px ;
    margin-right: 150px;
    padding-top: 25px;
}
.navor img{
    width: 180px;
    height: 58px;
}
.btn button{
   
    margin: 10px;
    border-radius: 5px;
}
.a{
    width:105px;
    height: 35px;
}
.b{
    width:80px;
    height: 35px;
    background: rgb(239, 23, 23);
    border: none;
}
.content{
    text-align: center;
    color:#fff;
    margin-top: 9%;

}
.content h1{
    font-size: 75px;
    font-family: "poppins";
}
.content p{
    font-size: 25px;
   
}
.content .p{
    font-size: 20px;
}
.content input{
    width: 410px;
    height: 60px;
    border-radius: 5px;
    background: transparent;
    border: solid;
    border-width: 2px;
    border-color: rgb(51, 51, 51);
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
}
.content button{
    font-size: 25px;
    height:60px ;
    width: 210px;
    border-radius: 5px;
    border: none;
    background:  rgb(239, 23, 23);
    color: #fff;
}